body {
    margin:0;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#change {
    position:absolute;
    top:20px;
    right:20px;
}